<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link rel="stylesheet" href="./styles/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
</head>
<body>
  
    <div class="container container1">
        <h1 class="timer-label">0:0:0</h1>
        <h2>hour:minute:second</h2>
        
        <div class="btn-div">
            <button class="play-button">play</button>
            <button class="restart-button">restart</button>
        </div>

    </div>
    <button class="clock">Clock</button>
    <div class="container container2">
        <h1 id="current-time">Testing</h1>
        <h2>India Standard Time</h2>
        <h3>Time zone in India (GMT+5:30)</h3>
        <h2 id="date"></h2>
        <h4>Made by <a href="https://github.com/tsn67"><span>Tom Sebastian</span></a></h4>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="./scripts/index.js"></script>

</body>
</html>