<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link rel="stylesheet" href="./styles/style.css">
</head>
<body>
  
    <div class="container container1"></div>
    <button>Clock</button>
    <div class="container container2">
        <h1 id="current-time">Testing</h1>
        <h2>India Standard Time</h2>
        <h3>Time zone in India (GMT+5:30)</h3>

        <h2 id="date"></h2>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="./scripts/index.js"></script>
</body>
</html>