
* {
    margin: 0px;
    padding: 0px;
}

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: black;
    position: relative;
}


.circle {
    border-radius: 50%;
    background-color: yellow;
    position: absolute;
    width: 100px;
    height: 100px;
    filter: blur(19px);
}